body * + * {
  margin-top: 1.5em;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  min-height: 500px;
  background-color: grey;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-container > div {
  background-color: lightgrey;
  margin: 10px;
  width: 75px;
  height: 75px;
  padding: 20px;
  font-size: 30px;
}

.row1 {
  align-self: center;
}

#box1.row1 {
  width: 75px;
  height: 100px;
}

#box2.row1 {
  width: 75px;
  height: 55px;
}

#box3.row1 {
  width: 75px;
  height: 310px;
}

.row2 {
  align-self: flex-end;
}
